body{
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
}
#content,
#footer,
#header {
    background-color: antiquewhite;
}
#header {
    min-height: 150px;
}

#nav {
    display: block;
    top: 0;
    background-color: tan;
    height: 40px;
    position: sticky;
}
#content {
    height:100%;
    width:100%;
}
#footer {
    min-height:50px;
}

#header-container {

}
