body{
    margin:0;
    padding:0;
    background-color: antiquewhite;
}
#content,
#footer,
#header {
}
#header {
    min-height: 150px;
}

#nav {
    display: block;
    top: 0;
    background-color: tan;
    height: 40px;
    position: sticky;
}
#content {
    min-height: 500px;
}
#footer {
    min-height:50px;
}

#header-container {

}
