body{
    margin:0;
    padding:0;
    background-color: antiquewhite;
}
#content,
#footer,
#header {
    position: relative;
}
#header {
    min-height: 150px;
}

#banner-img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%) scale(5, 1);

}

#nav {
    display: block;
    top: 0;
    background-color: tan;
    height: 40px;
    position: sticky;
}
#content {
    min-height: 500px;
}
#footer {
    min-height:50px;
}

#header-container {

}
